* {
  font-family: 'Varela Round', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
body {
  text-align: center;
  user-select: none;
  background-color: #ebebeb;
}
.container {
  background-color: #fff;
  width: 60em;
  border-radius: 0.5%;
}

.title {
  font-size: 2rem;
  font-weight: normal;
}
.github-icon {
  position: absolute;
  left: 15rem;
  top: 4.3rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 1.5px 1.5px 2.5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  padding: 0.3rem;
  cursor: pointer;
}

.dark-mode-btn {
  position: absolute;
  right: 15rem;
  top: 4.3rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 1.5px 1.5px 2.5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  padding: 0.3rem;
  cursor: pointer;
}

.submitForm {
  padding-left: 10px;
  height: 80px;
  padding-top: 13px;
}

.header {
  box-shadow: 0 4px 6px -6px #222;
  margin-top: 3rem;
  padding-bottom: 3.8rem;
  padding-top: 1rem;
  height: 60px;
}

.submitField {
  outline: none;
  width: 35rem;
  margin-right: 10px;
  margin-top: 1.3rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2.5px 1px rgba(0, 0, 0, 0.2);
}

.submitBtn {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 2.5px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  cursor: pointer;
}
.clearListBtn {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 2.5px 1px rgba(0, 0, 0, 0.2);
}
.taskList {
  box-shadow: 0 -4px 6px -6px #222;
  padding: 1rem 1.5rem;
  min-height: 25rem;
  text-align: left;
  margin-top: 2rem;
}

.filterList {
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2.5px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 0.5rem;
  width: 15rem;
  margin: 1rem 1rem;
}
ul {
  list-style: none;
  margin-bottom: 1rem;
}

.task {
  outline: none;
  padding: 0.5rem 0.6rem;
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 5px;
  width: 60em;
  box-shadow: inset 0px -3px 2.5px -2.5px rgba(0, 0, 0, 0.2);
}

.completed {
  text-decoration: line-through;
  cursor: default;
}

/* Dark Mode Styling */
.body-darkmode {
  background-color: #303030;
  color: #d4d4d4;
}

.container-darkmode {
  background-color: #303030;
  box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.2);
}

.github-icon-darkmode,
.dark-mode-btn-darkmode,
.submitBtn-darkmode,
.clearListBtn-darkmode {
  background-color: #d4d4d4;
}

.submitField-darkmode {
  background-color: #d4d4d4;
  box-shadow: inset 1px 1px 2.5px 1px rgba(0, 0, 0, 0.2);
}

.filterList-darkmode {
  background-color: #d4d4d4;
  box-shadow: inset 1px 1px 2.5px 1px rgba(0, 0, 0, 0.2);
}

.task-darkmode {
  background-color: #303030;
  color: #d4d4d4;
  box-shadow: inset 0px -4px 2.5px -2.5px rgba(0, 0, 0, 0.2);
}

/* placeholder color */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}
/* Media queries */
@media (max-width: 1200px) {
  .container {
    width: 60em;
  }
  .dark-mode-btn {
    right: 10rem;
  }
  .github-icon {
    left: 10rem;
  }
  .submitField {
    width: 30rem;
  }
  .filterList {
    width: 20rem;
    margin-left: 0.3rem;
    margin-bottom: 1.3rem;
  }
  .task {
    width: 65em;
    font-size: 0.8em;
  }
  input[type='checkbox'] {
    margin-left: -2rem;
  }
}

@media (max-width: 900px) {
  .container {
    width: 50em;
  }
  .dark-mode-btn {
    right: 5rem;
  }
  .github-icon {
    left: 5rem;
  }
  .submitField {
    width: 25rem;
  }
  .filterList {
    width: 18rem;
    margin-left: 0.3rem;
    margin-bottom: 1.3rem;
  }
  .task {
    width: 55em;
    font-size: 0.8em;
  }
  input[type='checkbox'] {
    margin-left: -2rem;
  }
}

@media (max-width: 725px) {
  .container {
    width: 43em;
  }
  .dark-mode-btn {
    right: 3rem;
  }
  .github-icon {
    left: 3rem;
  }
  .submitField {
    width: 25rem;
  }
  .filterList {
    width: 18rem;
    margin-left: 0.3rem;
    margin-bottom: 1.3rem;
  }
  .task {
    width: 45em;
    font-size: 0.8em;
  }
  input[type='checkbox'] {
    margin-left: -2rem;
  }
}

@media (max-width: 512px) {
  .container {
    width: 23em;
  }
  .dark-mode-btn {
    right: 5rem;
  }
  .github-icon {
    left: 5rem;
  }
  .submitField {
    width: 15rem;
  }
  .filterList {
    width: 13rem;
    margin-left: 0.3rem;
    margin-bottom: 1.3rem;
  }
  .task {
    width: 20em;
    font-size: 0.8em;
  }
  input[type='checkbox'] {
    margin-left: -2rem;
  }
}

@media (max-width: 415px) {
  .dark-mode-btn {
    right: 2rem;
  }
  .github-icon {
    left: 2rem;
  }
}
